body{
    background-color: black;
}

h3{
    color: white;
}

.main-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px;

}

.intop{
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 10px;

}

.info1top {
    color: white;
    font-family:'Terminal', 'Monospace', monospace;    
    font-size: 10px;
    line-height: 1.5;
    margin-right: 1.5rem;

}

.info2top{
    color: white;
    font-family: 'Terminal', 'Monospace', monospace;
    line-height: 1.5;
    font-size: 10px;
    text-align: right;
    
}

.box{
    border-style: solid;
    border-color: white;
    height: 500px;
    width: 300px;
}