body{
    background-color:black;
}

h1{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

h3{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size-adjust:1px;
    color: white;
}

li{
    color: white;
}

header{
    
    border-radius: 15px;
    padding: 10px;
}